<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.HackathonSite" extends="Helix.Project" description="Files and items for the Hackathon website."  dependencies="Foundation.*,Feature.*">
          <predicate>
              <include name="Tenant" database="master" path="/sitecore/content/New Tenant">
                  <exclude children="true" />
              </include>
              <include name="Themes" database="master" path="/sitecore/media library/Themes/New Tenant">
                  <exclude children="true" />
              </include>
              <include name="Media" database="master" path="/sitecore/media library/Project/New Tenant">
                  <exclude children="true" />
              </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>